<body class="non-home">
  <div class="container">
  <div class="jumbotron">

      <h1>New Workspace</h1>

      <%= render 'form' %>

      <%= link_to 'Back', root_path %>
      	</div>
</div>
</body>