@import "bootstrap-sprockets";
@import "bootstrap";
@import "customcss";
//= require jquery.raty
//= require ratyrate
body.non-home{
      background-image: asset-data-url("fresh_snow.png");
}

#map {
	height: 100vh;
}

.dropdown {
	background-color: #333333;
	vertical-align: top;
}

.dropdown-toggle {
	color: #ecf0f1;
	background-color: #333333;
	vertical-align: top;
	&:hover {
		color: #ecf0f1;
		&span {
			color: #ecf0f1;
		}
	}
}

.jumbotron {
  text-align: left;
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
	  background-color: transparent;

}

.btn-default{
	border-color: transparent;
}

