<div class="dropdown">
<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	<li><a tabindex="-1" href="#">Action2</a></li>
	<li><a tabindex="-1" href="#">Action3</a></li>
	<li class="divider"></li>
	<li><%= link_to "About", about_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
</ul>
</div>